body{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: #757F9A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  
 h1, h2, h3{
      text-align: center;
}
button{
  border-radius: 3px;
  cursor: pointer;
  height: 30px;
  width: 80px;
  border: none;
  background-color: #af0069;
  margin: .5rem;
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover{
  background-color: #8d0356;
}

button:active{
  font-size: 0.7rem;
}

button:focus{
  outline: none;
}

img{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: i;
  border-radius: 50%;
  margin: 5px auto;
  height: 70px;
  width: 70px;
}

.card{
  display: grid;
}

.container{
  margin: 150px 50px auto;
}

.result{
  margin: 0 auto;
  width: 50%;
}

.score-container, .container{
  display: flex;
  align-items: center;
  justify-content: center;
}

thead,
tfoot {
    background-color: #0d335d;
    color: #fff;
}
td, th{
  padding: 5px ;
  width: 100px;
}
